*{
    font-family: 'Shadows Into Light', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

ul{
    list-style-type: none;
}

nav{
    text-align: center;
    background-color: #2B2D42;
}

a{
    text-decoration: none;
}

.lang-menu ul{
    display: inline-flex;
    list-style: none;
    color: whitesmoke;
}

.lang-menu ul li{
    width: 120px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    color: #3498db;
}

.lang-menu ul li a{
    text-decoration: none;
    color: #3498db;
}

.lang-menu ul li:hover{
    background-color: rgba(44, 7, 53, 0.5);
    border-radius: 3px;
}

.select-lang{
    display: none;
    border-radius: 3px;
}

.lang-menu ul li:hover .select-lang{
    display: block;
    position: absolute;
    background-color: #2B2D42;
}

/* despliegue en lista */
.lang-menu ul li:hover .select-lang ul{ 
    display: block;
    margin: 10px;
}

.lang-menu ul li:hover .select-lang ul li{
    width: 150px;
    border-radius: 3px;
    text-align: left;
}

.container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2B2D42;
}

.container img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
}

.container img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}