*{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

ul{
    list-style-type: none;
}

nav{
    text-align: center;
    background-color: #2B2D42;
}

a{
    text-decoration: none;
}

.lang-menu ul{
    display: inline-flex;
    list-style: none;
    color: whitesmoke;
}

.lang-menu ul li{
    width: 120px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    color: #3498db;
}

.lang-menu ul li a{
    text-decoration: none;
    color: #3498db;
}

.lang-menu ul li:hover{
    background-color: rgba(44, 7, 53, 0.5);
    border-radius: 3px;
}

.select-lang{
    display: none;
    border-radius: 3px;
}

.lang-menu ul li:hover .select-lang{
    display: block;
    position: absolute;
    background-color: #2B2D42;
}

/* despliegue en lista */
.lang-menu ul li:hover .select-lang ul{ 
    display: block;
    margin: 10px;
}

.lang-menu ul li:hover .select-lang ul li{
    width: 150px;
    border-radius: 3px;
    text-align: left;
}

/* HEADER */
header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
}

/* CONTAINER */
section{
    display: flex;
}

.nav-section{
    flex: 1;
    background-color: #ccc;
    padding: 20px;
}

.nav-section ul{
    list-style: none;
    padding: 0;
}

article{
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}