*{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

nav{
    text-align: center;
    background-color: #2B2D42;
}

a{
    text-decoration: none;
}

.lang-menu ul{
    display: inline-flex;
    list-style: none;
    color: whitesmoke;
}

.lang-menu ul li{
    width: 120px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    color: #3498db;
}

.lang-menu ul li a{
    text-decoration: none;
    color: #3498db;
}

.lang-menu ul li:hover{
    background-color: rgba(44, 7, 53, 0.5);
    border-radius: 3px;
}

.select-lang{
    display: none;
    border-radius: 3px;
}

.lang-menu ul li:hover .select-lang{
    display: block;
    position: absolute;
    background-color: #2B2D42;
}

/* despliegue en lista */
.lang-menu ul li:hover .select-lang ul{ 
    display: block;
    margin: 10px;
}

.lang-menu ul li:hover .select-lang ul li{
    width: 150px;
    border-radius: 3px;
    text-align: left;
}

.content{
    flex: 1 0 auto;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: none;
    padding: 10px;
}

.app-header{
    background-color: #cc0000;
    box-shadow: 3px 3px 10px #888;
}

.app-header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.app-header .logo{
    width: 170px;
    margin-bottom: 16px;
}

.app-header input[type="text"]{
    padding: 7px;
    width: 300px;
    border: 0;
    border-radius: 3px;
}

.subheader{
    background-color: #7c0000;
    color: #fff;
    box-shadow: 3px 3px 10px #888;
    font-size: 14px;
    padding: 10px;
    width: 90%;
    margin: 0 auto 16px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subheader p{
    margin: 4px; 
}

.subheader img{
    width: 40px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.grid .item{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 1px 1px 2px #ccc;
}

.grid .item h4{
    margin-bottom: 5px;
}

.grid .item p{
    font-size: 14px;
    color: #7c0000;
    font-weight: bold;
    margin-bottom: 20px;
}

.grid .item img{
    width: 30px;
    text-align: right;
    display: block;
    align-self: flex-end;
}

.app-footer{
    flex-shrink: 0;
    background-color: #f4f4f4;
    color: #444;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app-footer ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer ul li i{
    font-size: 22px;
}

/* DESKTOP */
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid .item img{
        width: 60px;
    }
}