*{
    font-family: 'Shadows Into Light', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.name{
    text-size-adjust: auto;
    text-align: center;
    font-size: xx-large;
}

p{
    font-size: 200px;
}

.name p{
    padding-top: 2%;
}